---
title: Row and column in Spark
date: 2022-11-21
categories:
  - spark
---

## Row

In [ ]:
#|output: false
from pyspark.sql import SparkSession
from pyspark.sql import Row, Column
from pyspark.sql.functions import expr

spark = SparkSession.builder.appName('col-row').getOrCreate()

22/11/21 20:22:05 WARN Utils: Your hostname, Youfengs-MBP.local resolves to a loopback address: 127.0.0.1; using 192.168.4.22 instead (on interface en0)
22/11/21 20:22:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/21 20:22:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
rows = [Row('Brooke', 20), Row('Denny', 31), Row('Jules', 30), Row('TD', 35), Row('Brooke', 25)]
rows

[<Row('Brooke', 20)>,
 <Row('Denny', 31)>,
 <Row('Jules', 30)>,
 <Row('TD', 35)>,
 <Row('Brooke', 25)>]

In [ ]:
df = spark.createDataFrame(rows, ['name', 'age'])
df.show()

+------+---+
|  name|age|
+------+---+
|Brooke| 20|
| Denny| 31|
| Jules| 30|
|    TD| 35|
|Brooke| 25|
+------+---+

## Column

In [ ]:
new_col = expr("age + 3")
new_col

Column<'(age + 3)'>

In [ ]:
df.withColumn('age after 3 years', new_col).show()

+------+---+-----------------+
|  name|age|age after 3 years|
+------+---+-----------------+
|Brooke| 20|               23|
| Denny| 31|               34|
| Jules| 30|               33|
|    TD| 35|               38|
|Brooke| 25|               28|
+------+---+-----------------+

In [ ]:
df.age

Column<'age'>

In [ ]:
df.withColumn('age after 5 years', (df.age + 5)).show()

+------+---+-----------------+
|  name|age|age after 5 years|
+------+---+-----------------+
|Brooke| 20|               25|
| Denny| 31|               36|
| Jules| 30|               35|
|    TD| 35|               40|
|Brooke| 25|               30|
+------+---+-----------------+

In [ ]:
#|output: false
spark.stop()